@page "/guides/detail/{Id:int}"
@using AdventureManagement.BUS.ViewModel.GuideViewModel
@using AdventureManagement.BUS.Services.Interface
@inject IGuideService GuideService
@inject NavigationManager Navigation

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h5>Thông Tin Guide</h5>
        </div>
        <div class="card-body">
            @if (Guide != null)
            {
                <dl class="row">
                    <dt class="col-sm-3">Tên:</dt>
                    <dd class="col-sm-9">@Guide.Name</dd>

                    <dt class="col-sm-3">Chuyên môn:</dt>
                    <dd class="col-sm-9">@Guide.Expertise</dd>

                    <dt class="col-sm-3">Kinh nghiệm (năm):</dt>
                    <dd class="col-sm-9">@Guide.ExperienceYears</dd>
                </dl>

                <button class="btn btn-secondary" @onclick="GoBack">
                    <i class="bi bi-arrow-left"></i> Quay Lại
                </button>
            }
            else
            {
                <p>Đang tải dữ liệu...</p>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public int Id { get; set; }
    private GuideVM Guide { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Guide = await GuideService.GetGuideByIdAsync(Id);
    }

    private void GoBack()
    {
        Navigation.NavigateTo("/guide/list");
    }
}
