@page "/participants/detail/{Id:int}"
@using AdventureManagement.BUS.ViewModel.Participant
@using AdventureManagement.BUS.Services.Interface
@inject IParticipantService ParticipantService
@inject NavigationManager Navigation

<div class="container mt-4">
    <h3>Thông Tin Participant</h3>

    @if (Participant != null)
    {
        <dl class="row">
            <dt class="col-sm-3">Tên</dt>
            <dd class="col-sm-9">@Participant.Name</dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">@Participant.Email</dd>

            <dt class="col-sm-3">Số Lần Tham Gia</dt>
            <dd class="col-sm-9">@Participant.AdventureCount</dd>
        </dl>

        <button class="btn btn-secondary" @onclick="GoBack">
            <i class="bi bi-arrow-left-circle"></i> Quay Lại
        </button>
    }
    else
    {
        <p>Đang tải dữ liệu...</p>
    }
</div>

@code {
    [Parameter] public int Id { get; set; }
    private ParticipantVM Participant { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Participant = await ParticipantService.GetById(Id);
    }

    private void GoBack()
    {
        Navigation.NavigateTo("/participant/list");
    }
}
